* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#world {
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.left,
.right {
  width: 3000px;
  height: 100vh;
  position: absolute;
  background: linear-gradient(to bottom, #002020, #001010);
}

.left {
  left: 0;
  top: 0;
  transform-origin: left center;
  transform: rotateY(90deg);
}

.right {
  right: 0;
  top: 0;
  transform-origin: right center;
  transform: rotateY(-90deg);
}

.bottom {
  width: 100vw;
  height: 3000px;
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotateX(90deg);
  background: linear-gradient(
    to right,
    #001010 16.2%,
    #00ffff 16.2% 17.2%,
    #001010 17.2% 32.9%,
    #00ffff 32.9% 33.9%,
    #001010 33.9% 49.5%,
    #00ffff 49.5% 50.5%,
    #001010 50.5% 66.2%,
    #00ffff 66.2% 67.2%,
    #001010 67.2% 82.9%,
    #00ffff 82.9% 83.9%,
    #001010 83.9%
  );
}

.top {
  width: 100vw;
  height: 3000px;
  position: absolute;
  top: 0;
  transform-origin: center top;
  transform: rotateX(-90deg);
  background-color: #002020;
}

.door {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: calc(100% / 6);
  height: 100vh;
  background-color: #f0f0f0;
  transform-origin: center left;
  backface-visibility: visible;
  font-size: 7rem;
  color: #001010;
  transition: transform 0.5s ease-in;
  /* transform: translateY(20px) rotateX(60deg); */
}

.balloon {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 2rem);
  height: calc(50vh - 2rem);
  border-radius: 1rem;
  border: 2px black solid;
  display: none;
  z-index: 602;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  transform: translateZ(300px);
}

.balloon > p {
  overflow-y: auto;
}

.front {
  transform: translateZ(-300px);
}

.front .door {
  cursor: pointer;
}

.front .door:hover {
  background-color: #e0e0e0;
}

.front .door:hover + .balloon,
.balloon:hover {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.back {
  transform: translateZ(-3000px);
}

.face {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  transition: transform 1.5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.door.fall {
  transform: rotateY(90deg);
}

.out {
  transform: translateZ(3000px);
}
